<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Registrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Registrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Registrator.Properties.Settings.teplovizorConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\teplovizor.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="Registrator.Properties.Settings.MetrocardConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\Metrocard.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">

<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <Registrator.Properties.Settings>
            <setting name="irbInProjectFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rzInProjectFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dbPath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="dbBlobsPath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="dbBlobsInDbPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="grabberCamMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_config_data" serializeAs="String">
                <value>log4cplus.rootLogger=INFO, ROLLING
log4cplus.appender.STDOUT=log4cplus::ConsoleAppender
log4cplus.appender.STDOUT.layout=log4cplus::PatternLayout
log4cplus.appender.STDOUT.layout.ConversionPattern=%d{%Y/%m/%d %H:%M:%S} [%t] %-5p - %m%n

log4cplus.appender.ROLLING=log4cplus::RollingFileAppender
log4cplus.appender.ROLLING.MaxFileSize=50MB
log4cplus.appender.ROLLING.MaxBackupIndex=50
log4cplus.appender.ROLLING.layout=log4cplus::PatternLayout
log4cplus.appender.ROLLING.layout.ConversionPattern=%d{%Y/%m/%d %H:%M:%S} [%t] %-5p - %m%n
</value>
            </setting>
        </Registrator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Registrator.Properties.Settings>
            <setting name="lastIRBDir" serializeAs="String">
                <value>./Films</value>
            </setting>
            <setting name="lastProjDir" serializeAs="String">
                <value>Projects</value>
            </setting>
            <setting name="lastDir" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="projectsDir" serializeAs="String">
                <value>Projects</value>
            </setting>
            <setting name="irbDir" serializeAs="String">
                <value>./Films</value>
            </setting>
            <setting name="pd_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pd_port" serializeAs="String">
                <value>32222</value>
            </setting>
            <setting name="pd_events_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pd_events_port" serializeAs="String">
                <value>32223</value>
            </setting>
            <setting name="TrackUpdateFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TrackHalfVeiwSector" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="synchronizer_counter_size" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="pd_i_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pd_i_events_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="maxFramesInFile" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="camera_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="current_camera_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="logs_dir" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="developers_logs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="max_log_buffer_size" serializeAs="String">
                <value>1048576</value>
            </setting>
        </Registrator.Properties.Settings>
    </userSettings>
</configuration>
