<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Registrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Registrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>
<connectionStrings>
    <add name="Registrator.Properties.Settings.MetrocardConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\Metrocard.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  <add name="ContextMetroCard" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DB\Metrocard.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
</startup>
    <applicationSettings>
        <Registrator.Properties.Settings>
            <setting name="irbInProjectFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rzInProjectFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dbPath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="dbBlobsPath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="dbBlobsInDbPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="grabberCamMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_config_data" serializeAs="String">
                <value>registrator.config.xml</value>
            </setting>
            <setting name="debug_info" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableBadPixelsControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BadPixelsSettings" serializeAs="String">
                <value>&lt;bad_pixels_settings&gt;&lt;camera_settings SN = "1209017" description = "Baku teplovizor" shot_width = "640" shot_height = "480"&gt;&lt;pixels good_pixel_offset="1"&gt;&lt;pixel x="223" y="25" /&gt;&lt;/pixels&gt;&lt;/camera_settings&gt;&lt;/bad_pixels_settings&gt;</value>
            </setting>
            <setting name="auto_focus_cmd_str" serializeAs="String">
                <value>:autofocus</value>
            </setting>
            <setting name="nuc_cmd_str" serializeAs="String">
                <value>:autonuc</value>
            </setting>
            <setting name="RuntimeAlarmFramesPath" serializeAs="String">
                <value>./AlarmTermogramms</value>
            </setting>
        </Registrator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Registrator.Properties.Settings>
            <setting name="lastIRBDir" serializeAs="String">
                <value>./Films</value>
            </setting>
            <setting name="lastProjDir" serializeAs="String">
                <value>Projects</value>
            </setting>
            <setting name="lastDir" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="projectsDir" serializeAs="String">
                <value>Projects</value>
            </setting>
            <setting name="irbDir" serializeAs="String">
                <value>./Films</value>
            </setting>
            <setting name="pd_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pd_port" serializeAs="String">
                <value>32222</value>
            </setting>
            <setting name="pd_events_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pd_events_port" serializeAs="String">
                <value>32223</value>
            </setting>
            <setting name="TrackHalfVeiwSector" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="synchronizer_counter_size" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="pd_i_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pd_i_events_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="maxFramesInFile" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="camera_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="current_camera_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="logs_dir" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="DefaultPicketLength" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="TrackPanel_BackGroungColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="TrackPanel_VisibleEquipment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackPanel_TrailMarkerColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="IRBFrameShotSavePath" serializeAs="String">
                <value>IRBFrameShots</value>
            </setting>
        </Registrator.Properties.Settings>
    </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
